@import '@/styles/theme.scss';

.root-header {
  padding: 0 10px;
  background-color: red;
  border-bottom: 1px solid;
  &-main {
    height: 100px;
    width: 1440px;
    margin: auto;
    position: relative;
    transition: top 0.2s ease 0s;
    z-index: 20;
  }
}

.user_wallet {
  border-radius: 20px;
  padding-right: 5px;
  &_img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}
.connect_btn {
  min-width: 74px;
  border: 1px solid;
  color: #000;
  padding: 0 2px;
}
